@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: rotate(-3deg) scale(1.03);

  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);

}

.card_two {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_two:hover {
  transform: rotate(3deg) scale(1.03);

  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);

}